

body{
    font-family: 'Open Sans', sans-serif;
}

#header{
    background-color: grey;
}

#loginInfo{
    text-align: right;
}

/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */

 #opportunityTitle {
    font-size: 1.5em;
    font-weight: bold;
    text-overflow: ellipsis;
}
#opportunityQualified {
    font-size: 0.9em;
    color: green;
    text-align: left;
}
#appContainer {
    width: 320px;
    height: 480px;
    border-radius: 6px;
    font-family: calibri;
}
.appDivider {
    border-bottom: solid grey 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
}
.appDividerBig {
    border-bottom: solid grey 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    height: 120px;
}
.appDividerMap {
    border-bottom: solid grey 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 300px;
}
.secondaryText {
    font-size: 1.3em;
}
.tertiaryText {
    font-size: 1.0em;
}
.primaryText {
    font-size: 1.5em;
}
.spacer {
    margin-bottom: 15px;
}
.textAlignMiddle {
    text-align: center;
}
#opportunityJobDescription {
    margin-top: 5px;
}

.listing_positionTitle{
    font-size: 1.1em;
}

.listing_positionTiming{
    font-size: 1.0em;
}

.listing_positionStatus{
    font-size: 1.0em;
    color: green;
    text-align: right;
    
}

.textAlignRight{
    text-align: right;
}

.opportunityStrip{
    padding: 10px;
    border-bottom: solid grey 1px;
    border-bottom-color: #ececec;
}

.opportunityPrimary{
    font-size: 1.25em;


}


.opportunitySecondary{
    font-size: 0.9em;

}

#registerRow{
    margin-top: 15px;
}

#submitRow{
    margin: 15px;
    align-content: right;
}


.alignItemsCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mapFrame{
    margin-left: 40px;
    margin-top: 15px;
}

#acceptPositionButton{
    position:relative;
    float: right;
    margin-top:15px;
}

#signOut{
    margin-top: 15px;
}