<template name="createOpportunity">
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        {{#autoForm collection="opportunities" id="insertOpportunityForm" type="insert"}}
        <fieldset>
          <legend>Create Opportunity</legend>
          {{> afQuickField name='needDate'}}
          {{> afQuickField name='opportunityDentist' id="createOpportunityDentist" type="hidden"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
    </div>
    <div class="col-md-2"></div>

  </div>
</template>