<template name="createDentist">
   <div class="row">
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-12 col-md-4">

    {{#autoForm collection="dentists" id="insertDentistForm" type="insert"}}
        <fieldset>
          <legend>Create a Profile</legend>
          
          {{> afQuickField name='officeName'}}
          {{> afQuickField name='firstName'}}
          {{> afQuickField name='lastName'}}
          {{> afQuickField name='address1'}}
          {{> afQuickField name='address2'}}
          {{> afQuickField name='city'}}
          {{> afQuickField name='state'}}
          {{> afQuickField name='zipCode'}}
          {{> afQuickField name='dentistUserId' type="hidden" id="createDentistUser"}}


        </fieldset>
        <button type="submit" class="btn btn-primary" id="createDentistButton">Insert</button>
  {{/autoForm}}
    </div>
       <div class="col-xs-0 col-md-4"></div>

  </div>
</template>