<template name="createOpportunity">
   <div class="row">
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-12 col-md-4">

        {{#autoForm collection="opportunities" id="insertOpportunityForm" type="insert"}}
        <fieldset>
          <legend>Create Opportunity</legend>
          {{> afQuickField name='positionName'}}
          {{> afQuickField name='needDate'}}
          {{> afQuickField name='startTime'}}
          {{> afQuickField name='endTime'}}
          {{> afQuickField name='hourlyRate'}}
          {{> afQuickField name='description'}}
          {{> afQuickField name='opportunityDentistId' id="createOpportunityDentist" type="hidden"}}
          {{> afQuickField name='officeName' id="opportunityOfficeName" type="hidden"}}
          {{> afQuickField name='firstName' id="opportunityFirstName" type="hidden"}}
          {{> afQuickField name='lastName' id="opportunityLastName" type="hidden"}}
          {{> afQuickField name='address1' id="opportunityAddress1" type="hidden"}}
          {{> afQuickField name='address2' id="opportunityAddress2" type="hidden"}}
          {{> afQuickField name='city' id="opportunityCity" type="hidden"}}
          {{> afQuickField name='state' id="opportunityState" type="hidden"}}
          {{> afQuickField name='zipCode' id="opportunityZipCode" type="hidden"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
    </div>
    <div class="col-xs-0 col-md-4"></div>

  </div>
</template>