<template name="dashboard">
    <div class="container">
    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="page-header">
                         <h3>Dashboard </h3>

                    </div>
                </div>
            </div>
            
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Your Account Status</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class='col-xs-12' id='accountStatus'>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- List group -->
                    </div>
                </div>
            </div>
             {{#if isApproved}}
                        <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">Current Opportunities (Most Recent)</div>
                                <div class="col-xs-4 textAlignRight"><a href="/listOpportunities">View All</a></div>
                            </div>
                        </div>
                        <!-- List group -->
                        <ul class="list-group" id="dashboardCurrentOpportunities">
                        {{#if isThereNewOppToDisplay}}
                            {{#each newOpps}}
                            <li class='list-group-item'>
                                <div class='row'>
                                    <div class='col-xs-10'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTitle'> <a href="/viewOpportunity/{{_id}}"> {{positionName}}</a>

                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTiming'>{{formattedDate}}</div>
                                        </div>
                                    </div>
                                    <div class='col-xs-2'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionStatus'>New</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                           {{else}}
                            <li class='list-group-item'>
                               <div class="row">
                                   <div class="col-xs-12">
                                       No opportunities found for this criteria.
                                   </div>
                               </div>
                           </li>
                            
                            
                        {{/if}}
                            

                        </ul>
                    </div>
                </div>
            </div>


                                    <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                                                <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">Pending Jobs (Most Recent)</div>
                                <div class="col-xs-4 textAlignRight"><a href="/listPending">View All</a></div>
                            </div>
                        </div>
                        <!-- List group -->
                        <ul class="list-group" id="dashboardCurrentBookings">
                            {{#if isTherePendingOppToDisplay}}
                            {{#each pendingOpps}}
                            <li class='list-group-item'>
                                <div class='row'>
                                    <div class='col-xs-10'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTitle'> <a href="/viewOpportunity/{{_id}}"> {{positionName}}</a>

                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTiming'>{{formattedDate}}</div>
                                        </div>
                                    </div>
                                    <div class='col-xs-2'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionStatus'>Pending</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                                                       {{else}}
                           <li class='list-group-item'>
                               <div class="row">
                                   <div class="col-xs-12">
                                       No opportunities found for this criteria.
                                   </div>
                               </div>
                           </li>
                        {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
                                                <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                                                <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">Past Jobs (Most Recent)</div>
                                <div class="col-xs-4 textAlignRight"><a href="/pastOpportunities">View All</a></div>
                            </div>
                        </div>
                        <!-- List group -->
                        <ul class="list-group" id="dashboardCurrentBookings">
                                                        {{#if isTherePastOppToDisplay}}

                            {{#each pastOpps}}
                            <li class='list-group-item'>
                                <div class='row'>
                                    <div class='col-xs-10'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTitle'> <a href="/viewOpportunity/{{_id}}"> {{positionName}}</a>

                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionTiming'>{{formattedDate}}</div>
                                        </div>
                                    </div>
                                    <div class='col-xs-2'>
                                        <div class='row'>
                                            <div class='col-xs-12 listing_positionStatus'>Past</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                                                        {{/each}}
                                                       {{else}}
                            
                            <li class='list-group-item'>
                               <div class="row">
                                   <div class="col-xs-12">
                                       No opportunities found for this criteria.
                                   </div>
                               </div>
                           </li>
                            
                        {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
                        {{/if}}

        </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>
    </div>
</template>