<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid c_1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button>{{#if currentUser}} <a class="navbar-brand" href="/dashboard">Cuspid R0.02</a>
{{else}} <a class="navbar-brand" href="/welcome">Cuspid</a>
{{/if}}</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">{{#if currentUser}} {{#if currentUser.profile.isDentist}} {{#if currentUser.profile.profileCreated}}
                    <li><a href="/updateDentist">Manage Your profile</a>

                    </li>{{#if currentUser.profile.isApproved}}
                    <li><a href="/createOpportunity">createOpportunity</a>

                    </li>
                    <li><a href="/listOpportunities">Open Jobs</a>

                    </li>
                    <li><a href="/listPending">Pending Jobs</a>

                    </li>
                    <li><a href="/pastOpportunities">Past Jobs</a>

                    </li>{{/if}} {{else}}
                    <li><a href="/createDentist">Create a profile</a>

                    </li>{{/if}} {{/if}} {{#if currentUser.profile.isAssistant}} {{#if currentUser.profile.profileCreated}}
                    <li><a href="/updateAssistant">Manage Your profile</a>

                    </li>{{#if currentUser.profile.isApproved}}
                    <li><a href="/listOpportunities">Work Opportunities</a>

                    </li>
                    <li><a href="/listPending">Upcoming Work</a>

                    </li>
                    <li><a href="/pastOpportunities">Past Work</a>

                    </li>{{/if}} {{else}}
                    <li><a href="/createAssistant">Create a profile</a>

                    </li>{{/if}} {{/if}} {{else}} {{/if}} {{#if currentUser.profile.isAdmin}}
                    <li><a href="/admin">Admin</a>

                    </li>{{/if}}</ul>
                <ul class="nav navbar-nav navbar-right">{{#if currentUser}}
                    <li id="signOut">Sign Out</li>{{else}}
                    <li><a href="/register">Register</a>

                    </li>
                    <li><a href="/login">Login</a>

                    </li>{{/if}}</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        {{#if hasUnrated}}
            {{> ratings}}
        {{/if}}
</template>