<template name="listOpportunities">

  <div class="container" id="appContainer">
    <div class="row appDivider">
        <div class="row">
            <div class="col-xs-12">
                <div id="opportunityTitle">Part Time Assistant Needed</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div id="tertiaryText">Tomorrow (12/10/2015)</div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
        <div class="row appDivider">
        <div class="row">
            <div class="col-xs-12">
                <div id="opportunityTitle">Another Role</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div id="tertiaryText">Tomorrow (12/10/2015)</div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
   
</div>
  

</template>