<template name="listOpportunities">

    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="page-header">
                         <h3>Open Opportunities </h3>

                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">All Open Opportunities</div>
                            </div>
                        </div>
                        <!-- List group -->
                        <ul class="list-group" id="listOpportunitiesCurrentOpportunities">

                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>

</template>