<template name="register">
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <form id="register-form" action="action">
      <div>
<div class="radio">
  <label><input type="radio" name="userTypeRadio" id="dentistRadioButton" value="dentist">Dentist</label>
</div>
<div class="radio">
  <label><input type="radio" name="userTypeRadio" id="assistantRadioButton" value = "assistant">Assistant</label>
</div>
       <input type="email" id="account-email" />
       <input type="password" id="account-password" />
       <input type="submit" id="create-account" value="Create an Account" />
     </div>
   </form>
    </div>
    <div class="col-md-2"></div>

  </div>
</template>