<template name="register">
    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="page-header">
                         <h3>Register To Create Account</h3>

                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">Register</div>
                            </div>
                        </div>
                        <form id="register-form" action="action">
                            <div>
                                <div class="row" id="registerRow">

                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="account-email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" class="form-control" id="account-password" placeholder="">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="userTypeRadio" id="dentistRadioButton" value="dentist">Dentists: Register as a dentist who can hire assistants</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="userTypeRadio" id="assistantRadioButton" value="assistant">Assistants: Register as an assistant that can view and accept opportunities</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="submitRow">
                                            
                                            <div class="col-xs-10"></div>
                                            <div class="col-xs-2">
                                        <button class="btn btn-primary" id="create-account" value="Create an Account" type="submit">Create</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>
</template>