<template name="updateAssistant">
   <div class="row">
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-12 col-md-4">

    {{#autoForm collection="assistants" id="updateAssistantForm" type="update" doc=selectedPersonDoc}}
        <fieldset>
          <legend>Update Your Assistant Profile</legend>
          {{> afQuickField name='firstName'}}
          {{> afQuickField name='lastName'}}
          {{> afQuickField name='address1'}}
          {{> afQuickField name='address2'}}
          {{> afQuickField name='city'}}
          {{> afQuickField name='state'}}
          {{> afQuickField name='zipCode'}}
          {{> afQuickField name='isAvailableMonday'}}
          {{> afQuickField name='isAvailableTuesday'}}
          {{> afQuickField name='isAvailableWednesday'}}
          {{> afQuickField name='isAvailableThursday'}}
          {{> afQuickField name='isAvailableFriday'}}
          {{> afQuickField name='isAvailableSaturday'}}
          {{> afQuickField name='isAvailableSunday'}}
          {{> afQuickField name='assistantUserId' type="hidden" id="createAssistantUser"}}


        </fieldset>
        <button type="submit" class="btn btn-primary" id="updateDentistButton">Update</button>
  {{/autoForm}}
    </div>
    <div class="col-xs-0 col-md-4"></div>


  </div>
</template>