<template name="viewOpportunity">

    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class='panel panel-default'>
               <div class="panel-heading">
                   <div class="row">
                    <div class="col-xs-8">Opportunity Details</div>
                    <div class="col-xs-4 textAlignRight">{{opportunityData.status}}</div>
                    </div>
                   
                </div>
               <div class="panel-body">
               <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                           {{opportunityData.positionName}}
                       </div>
                       <div class="col-xs-12 opportunitySecondary">
                           {{opportunityData.needDate}}
                       </div>
                   </div>
               </div>
                <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                           {{opportunityData.timing}}
                       </div>
                       <div class="col-xs-12 opportunitySecondary">
                           Tomorrow
                       </div>
                   </div>
               </div>
                  <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                           {{opportunityData.totalCost}}
                       </div>
                       <div class="col-xs-12 opportunitySecondary">
                           {{opportunityData.hourlyString}}
                       </div>
                   </div>
               </div>
                <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                          Description
                       </div>
                       <div class="col-xs-12 opportunitySecondary">
                                {{opportunityData.description}}                       
                        </div>
                   </div>
               </div>
                <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                          Address
                       </div>
                       <div class="col-xs-12 opportunitySecondary">{{opportunityData.address1}}</div>
                       <div class="col-xs-12 opportunitySecondary">{{opportunityData.address2}}</div>
                       <div class="col-xs-12 opportunitySecondary">{{opportunityData.cityState}}</div>
                       <div class="col-xs-12 opportunitySecondary">{{opportunityData.zipCode}}</div>
                   </div>
               </div>
                <div class="col-xs-12">
                   <div class="row opportunityStrip">
                       <div class="col-xs-12 opportunityPrimary">
                          Map
                       </div>
                       <div class="col-xs-12 alignItemsCenter">
<iframe  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src={{opportunityData.iframeMetaData}}></iframe>
                       </div>

                   </div>
               </div>
                <div class="col-xs-12">
                    
                    {{#if opportunityData.isBooked}}
                        {{#if opportunityData.isDentistViewingOpportunity}}
                            <div class="col-xs-12">
                               <div class="row opportunityStrip">
                                   <div class="col-xs-12 opportunityPrimary">
                                      Status
                                   </div>
                                   <div class="col-xs-12 opportunitySecondary">This job has been booked.</div>
                               </div>
                           </div>
                            
                            
                            
                            
                        {{else}}

                            <div class="col-xs-12">
                               <div class="row opportunityStrip">
                                   <div class="col-xs-12 opportunityPrimary">
                                      Status
                                   </div>
                                   <div class="col-xs-12 opportunitySecondary">You booked this position</div>
                               </div>
                           </div>


                        {{/if}}
                    {{else}}
                          {{#if opportunityData.isDentistViewingOpportunity}}

                            <div class="col-xs-12">
                               <div class="row opportunityStrip">
                                   <div class="col-xs-12 opportunityPrimary">
                                      Status
                                   </div>
                                   <div class="col-xs-12 opportunitySecondary">This job is still available</div>
                               </div>
                           </div>

                          {{else}}
                          
                                <button type="button" class="btn btn-success" id="acceptPositionButton">Book It!</button>
                          {{/if}}
                    {{/if}}

               </div>
                          
              </div> 
               

            </div>
        </div>
        <div class="col-xs-0 col-md-3"> </div>
    </div>
  

</template>