<template name="viewOpportunity">

  <div class="container" id="appContainer">
    <div class="row appDivider">
        <div class="row">
            <div class="col-xs-12">
                <div id="opportunityTitle">Part Time Assistant Needed</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div id="tertiaryText">Tomorrow (12/10/2015)</div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
    <div class="row appDivider">
        <div class="row">
            <div class="col-xs-0"></div>
            <div class="col-xs-5 tertiaryText">Tomorrow</div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 secondaryText textAlignMiddle">10:00AM - 5:00PM</div>
        </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
    <div class="row appDivider">
        <div class="row">
            <div class="col-xs-0"></div>
            <div class="col-xs-5 tertiaryText">$20.00 Hour</div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 secondaryText textAlignMiddle">$120.00 Total</div>
        </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
    <div class="row appDividerBig">
        <div class="row">
            <div class="col-xs-12 tertiaryText">Job Description</div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="jobDescription">This is a description of the position in question. If you have these skills please let us know and we will look forward to working with you</div>
        </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
    <div class="row appDividerBig">
        <div class="row">
            <div class="col-xs-12 tertiaryText">Dr Gregory Pfieffer</div>
        </div>
        <div class="row">
            <div class="col-xs-12">7948 Caruth Ct</div>
            <div class="col-xs-12">Dallas, TX</div>
            <div class="col-xs-12">75225</div>
        </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
    <div class="row appDividerMap">
        <div class="row">
            <div class="col-xs-0"></div>
            <div class="col-xs-12">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="300" height="280" src="https://maps.google.com/maps?hl=en&q=7948 Caruth Ct Dallas Tx&ie=UTF8&t=roadmap&z=14&iwloc=B&output=embed"></iframe>
            </div>
            <div></div>
            <div></div>
            
            <div class="col-xs-0"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
        <div class="row appDivider">
        <div class="row">
            <div class="col-xs-2"></div>
      <div class="col-xs-2"><button type="button" class="btn btn-default">Ignore</button></div>
             <div class="col-xs-2"></div>
             <div class="col-xs-2"><button type="button" class="btn btn-success">Accept</button></div>
            </div>
        <div class="row">
            <div class="col-xs-12 spacer"></div>
        </div>
    </div>
</div>
  

</template>