<template name="welcome">
   <div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">

        <div class="row">
            <div class="col-xs-12 primaryText textAlignMiddle" id="welcomeHowItWorks"> How it works </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4 secondaryText textalignMiddle">
                Dentists and assistants both apply for consideration. All applications are pre screened for compliance and all candidates are interviewed
            </div>
            <div class="col-xs-12 col-md-4 secondaryText textAlignMiddle">
                Dentists enter a job description and timing of when the job is needed. All qualified and available candidates in the target area are requested if they can take the job
            </div>
            <div class="col-xs-12 col-md-4 secondaryText textAlignMiddle">
                The assistant accepts the position and arrives at the office to perform the services. The assistant is paid immediately (electronically) upon completion of the workday
            </div>
        </div>


    </div>
    <div class="col-xs-4 col-md-2"></div>

  </div>
</template>